/* *{
    padding:0;
    margin: 00;
} */



/* button{
    background-color:rgb(207, 36, 45);
    border-radius: 50px;
    border: none;
    height: 10vh;
    width: 10vw;
} */
/* .btn{
    background-color:aquamarine;
    border:7px dashed red;
    width:128px;
    height:150px;
} */
/* .li{
    color:pink;
    border:4px solid black;
}

 */
